{{ define "main" }}
<div id="main" class="fullwidth">
		<article class="post type-post status-publish format-standard has-post-thumbnail hentry">
			<div class="post-header">
				<h1>{{ .Title }}</h1>
				<span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
			</div>
			<div class="post-entry">
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div class="post-share">
				<div class="post-share-box share-comments">
					hello
				</div>
			</div>
			<div class="post-author">
			</div>
			{{ end }}
			{{ if (eq .Params.type "post") }} {{ partial "comments.html" . }}{{ end }}
		</article>
</div>
{{ end }}